@import url('https://fonts.googleapis.com/css?family=Poppins%3A400%2C300%2C700%7COpen+Sans%3A400%2C600%2C700%2C300%7CRoboto%3A400%2C500%2C700%2C300%7CPoppins%3A400%2C600&amp;display=swap&amp;ver=11.5.1');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body {
    background-color: black;
}
#main {
    width: 940px;
    height:100vh;
    margin: auto;
    position: relative;
}
.questionaireDiv{
    display: none;
    width: 100%;
    height: 600px;
    background-color: #293241;
    border-radius: 15px;
    position: absolute;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: faded 0.4s;
}
    @keyframes faded{from{opacity:0.4} to{opacity:1}}

#btnl, #btnr {
    position: absolute;
    width: 100px;
    height: 70px;
    border: none;
    background-color: limegreen;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px;
}
#btnr {
    left: 850px;
    top: 85vh
}
#btnl {
    left: -20px;
    top: 85vh;
}

#submitbtn{
    display: none;
    position: absolute;
    width: 100px;
    height: 70px;
    border: none;
    background-color: limegreen;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px;
    left: 400px;
    top: 85vh;
}


.details{
    width: 800px;
    height:350px;
    background-color: gray;
    margin:20px auto;
    border-radius: 10px;;
}

.listOfAnswers{
    width: 800px;
    height: 180px;
    background-color: #4e5663;
    border-radius: 10px;
    margin: auto;
}
    .answerbtn {
        display: inline-block;
        width: 200px;
        height:50px;
        margin: 20px 95px;
        cursor: pointer;
        background-color: #e0fbfc; 
        border: none;
        border-radius: 50px;
        font-size: 25px;
    }