* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#main {
    width: 940px;
    height:100vh;
    margin: auto;
    position: relative;
}
.questionaireDiv{
    display: none;
    width: 100%;
    height: 600px;
    background-color: #293241;
    border-radius: 15px;
    position: absolute;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#btnl, #btnr {
    position: absolute;
    width: 100px;
    height: 70px;
    border: none;
    background-color: limegreen;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px;
}
#btnr {
    left: 850px;
    top: 85vh
}
#btnl {
    left: -20px;
    top: 85vh;
}

#submitbtn{
    display: none;
    position: absolute;
    width: 100px;
    height: 70px;
    border: none;
    background-color: limegreen;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px;
    left: 400px;
    top: 85vh;
}


.divider_left, .divider_right {
    display: inline-block;
    vertical-align: top;
    height: 600px;
    border-radius: 10px;
    background-image: linear-gradient(#293241, #293241);
    position:relative;
}

.divider_left{
    width: 55%;
}
.divider_right{
    width:45%
}
    .imgscontainer {
        width: 480px;
        height: 470px;
        position: absolute;
        top:50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .imgdiv{
        width: 225px;
        height: 225px;
        display: inline-block;
        border: 5px solid gray;
        border-radius: 10px;
        margin-left:10px;
        margin-top: 5px;
    }

    .rightcontainer{
        width: 400px;
        height: 400px;
        position: absolute;
        top:50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    h2{
        text-align: center;
        color: white;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .inputletters{
        width: 370px;
        height: 75px;
        margin: auto;
    }
        input {
            width: 70px;
            height: 70px;
            display: inline-block;
            border: none;
            border-radius: 10px;
            margin: auto;
        }
    .buttons{
        width: 370px;
        height: 150px;
        transform: translate3d(0, 20px, 0);  
        margin: auto;
    }

    button {
        width: 70px;
        height: 70px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 40px;
    }